@{
    ViewData["Title"] = "Upgrade";
}
@{
    <section id="about-head1" class="section-p1">
        <div>
            <h2>Succes!</h2>
            <p>You have successfully submitted a request for a repair / upgrade!</p>
        </div>
    </section>
}
