@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<body>
    <section id="page-header" style="background-image: url('@Url.Content("~/img/banner/b7.png")'); margin-bottom: 15px;">

        <h2>@ViewData["Title"]</h2>
        <p>Manage your account settings</p>

    </section>
</body>

<partial name="_ManageNav" />

<div>
    <hr />
    <div style="display: flex; justify-content: center;">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
