@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<body>
    <section id="page-header" class="about-header" style="background-image: url('@Url.Content("~/img/banner/b4.png")');">
        
        <h2>About Us</h2>
        <p>Take a peek inside our operation!</p>
        
    </section>

    <section id="about-head" class="section-p1">
        <img src="~/img/about/a1.jpg" alt="">
        <div>
            <h2 style="font-size:30px;">Who is TRANAWARE?</h2>
            <p>We're not just a team; we're a community of tech enthusiasts dedicated to providing exceptional service and expertise to our customers. Comprised of passionate gamers, builders, and industry experts, our team is committed to curating a diverse selection of high-quality components and accessories tailored to meet the needs of every PC enthusiast. Whether you're a seasoned pro or a first-time builder, our knowledgeable staff is here to offer personalized advice, technical support, and guidance throughout your purchasing journey. With a shared passion for innovation and a commitment to customer satisfaction, we strive to be more than just a store; we're your trusted partner in building the ultimate PC gaming experience.</p>
        </div>
    </section>
</body>

