@{
    ViewData["Title"] = "Newsletter";
}
@{
    <section id="about-head1" class="section-p1">
        <div>
            <h2>Succes!</h2>
            <p>You have successfully subscribed to our newsletter!</p>
        </div>
    </section>
}
