@{
    ViewData["Title"] = "Contact";
}
@{
    <section id="about-head1" class="section-p1">
        <div>
            <h2>Succes!</h2>
            <p>You have successfully submitted a message! Thank you for your time!</p>
        </div>
    </section>
}